@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.site-footer {
    background: #f2f2f2;
    text-align: center;
    min-height: 160px;
    margin-top: 20px;
    padding: 25px 0;
}
